@import url('https://fonts.googleapis.com/css?family=Macondo+Swash+Caps');

.welcome { background-color: black;
  color: #E3D4BB;
  padding: 2%;
  text-align: center;
  height: 100vh;}

.eachcell{
  height: 30px;
}

.table td.fit,
.table th.fit {
  white-space: nowrap;
  width: 1%;
}

.acrosslist {
  height: 100%;
  overflow: auto;
  padding: 4%;
  border-radius: 25px;
}

.crossword {
  padding: 3%;
}

.wordNum {
  font-size: 4%;
  margin: 0;
  padding: 0;
}

.crosswordImg {
  background: url(images/crossword.jpg) no-repeat;
  background-size: 101%;
  filter: grayscale(100%);
  border-color: black;
  position: relative;
  width: 100%;
  height: 100vh;
}

.app-title {
  padding: 2%;
  font-family: "Macondo Swash Caps" , cursive;
  color: silver;
}

.row-bg {
  height: 50vh;
}

.theme {
  margin: 5%;
}

.hehehe {
  padding-top: 20%;
  margin: 2%;
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-bottom: 100%;
    width: 300%;
  }

  to {
    margin-top: 5%;
    width: 100%;
  }
}

.clues {
  height: 725px;
}

.crosscheck {
  text-align: center;
  margin-bottom: 3%;
  margin-left: auto;
  margin-right: auto;

}

.blackCell {
  background-color: black;
}

.header {
  font-family: "Times New Roman", Times, serif;
}

.carousel {
  margin: 4%;
}

.caption {
  color: black;
}